<ion-header>

  <ion-navbar>
    <ion-title>{{project.projectName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div class="top-button-container" text-center>
    <div class="top-button">
      <button class="full-btn" ion-button outline icon-only>
        <ion-icon name="pin"></ion-icon>
      </button>
    </div>
    <div class="top-button">
      <button class="full-btn" ion-button outline icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
  </div>-->
  <ion-content padding dir="rtl">
    <ion-card>
      <img [src]="project.projectImage"/>
      <ion-card-content>
        <ion-card-title>
          <div *ngIf="!editName">
            <ion-row no-padding>
              <ion-col col-10>
                <div class="project-name-container">
                  {{project.projectName}}
                </div>
              </ion-col>
              <ion-col col-2>
                <button (click)="setEditName()" ion-button icon-only small block outline icon-right color="danger">
                  <ion-icon class="edit-subject-btn" name="create"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="editName">
            <ion-row no-padding>
              <ion-col col-12>
                <div class="project-name-container">
                  <ion-label color="primary" stacked>שם פרויקט</ion-label>
                  <ion-input class="form-control" [(ngModel)]="nameEditted" type="text" placeholder="שם פרויקט"></ion-input>
                </div>
              </ion-col>
            </ion-row>
            <ion-row no-padding>
              <ion-col col-6>
                <button (click)="calncelEditName()" ion-button small block outline icon-right color="danger">
                  <ion-icon name="close"></ion-icon>
                  ביטול
                </button>
              </ion-col>
              <ion-col col-6>
                <button (click)="saveEditName()" ion-button small block outline icon-right color="danger">
                  <ion-icon name="checkmark"></ion-icon>
                  שמור
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-title>
        <div *ngIf="!editDescription">
          <p [innerHTML]="project.projectDescription | nl2br">
            <!-- {{project.projectDescription | nl2br}} -->
          </p>
          <ion-row no-padding>
            <ion-col>
              <button (click)="getPicture()" ion-button small block outline icon-right color="danger">
                <ion-icon name='camera'></ion-icon>
                צלם תמונת פרויקט
              </button>
            </ion-col>
            <ion-col>
              <button (click)="setEditDescription()" ion-button  small block outline icon-right color="danger">
                <ion-icon class="edit-subject-btn" name="create"></ion-icon>
                ערוך טקסט
              </button>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="editDescription">
          <ion-textarea 
            class="form-control"
            [(ngModel)]="descriptionEditted" 
            placeholder="הכנס טקסט">
          </ion-textarea>
            <ion-row no-padding>
              <ion-col>
                <button (click)="calncelEditDescription()" ion-button small  block outline icon-right color="danger">
                  <ion-icon name="close"></ion-icon>
                  ביטול
                </button>
              </ion-col>
              <ion-col>
                <button (click)="saveEditDescription()" ion-button small block outline icon-right color="danger">
                  <ion-icon name="checkmark"></ion-icon>
                  שמור
                </button>
              </ion-col>
            </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-scroll scrollY="true" dir="ltr">
      <ion-list>
        <button ion-item *ngFor="let item of project.itemsList" (click)="onSelectItem(item)">
          {{ item.title }}
        </button> 
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-content>
