page-edit-project {
    .project-name-container {
        line-height: 2;
    }

    .top-button-container {
        display: flex;
        width: 100%;
        position: relative;
    }

    .top-button {
        flex-grow: 1;
    }

    ion-icon {
        padding-left: 0.3em;
        padding-right: 0em;
    }

    ion-scroll {
        height: 100%;
    }
}
